## Codio Activity 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 20 Points**

In this assignment, you will practoce selecting data using `loc[]`, `iloc[]`, and `split`.

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [3]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### Using `loc[]` to select data

**2 Points each**

In this part of the assignment, return the required information from a the `data` DataFrame using the `loc[]` method.

In [5]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('data/nba.csv')
data = data.iloc[:-1 , :]
data.head(5)

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

Use the `loc[]` method to retrieve the first row of the `data` DataFrame and assign the result to the `locinfo` variable.

In [50]:
### GRADED


locinfo = None

# YOUR CODE HERE
locinfo = data.loc[0]

# ANSWER CHECK
print(locinfo)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

Use the `loc[]` method on the `data` DataFrame to retrieve the information about LeBron James' `Name` and `Team`. Assign the result to the `teamdata` variable.

In [9]:
### GRADED


teamdata = None

# YOUR CODE HERE
teamdata = data[['Name','Team']]
teamdata = teamdata[teamdata['Name'] == 'LeBron James']

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

[Back to top](#Index:) 

## Part two

### Using `iloc[]` to select data

In this part of the assignment, return the required information from a the `data` DataFrame using the `iloc[]` method.

**2 Points each**

Use the `iloc[]` method to retrieve the first row of the `data` DataFrame and assign the result to the `fr` variable.

In [11]:
### GRADED

fr = None

# YOUR CODE HERE
fr = data.iloc[0]

# ANSWER CHECK
print(fr)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

Use the `iloc[]` method to retrieve the second row of the `data` DataFrame and assign the result to the `sr` variable.

In [13]:
### GRADED


sr = None

# YOUR CODE HERE
sr = data.iloc[1]

# ANSWER CHECK
print(sr)

Unnamed: 0                 1
Name             Jae Crowder
Team          Boston Celtics
Number                  99.0
Position                  SF
Age                     25.0
Height                   6-6
Weight                 235.0
College            Marquette
Salary             6796117.0
Name: 1, dtype: object

Use the `iloc[]` method to retrieve the first row of the `data` DataFrame and assign the result to the `lr` variable.

In [15]:
### GRADED


lr = None

# YOUR CODE HERE
lr = data.iloc[-1]

# ANSWER CHECK
print(lr)

Unnamed: 0             455
Name          Tibor Pleiss
Team             Utah Jazz
Number                21.0
Position                 C
Age                   26.0
Height                 7-3
Weight               256.0
College                NaN
Salary           2900000.0
Name: 455, dtype: object

Use the `iloc[]` method to retrieve the first column of the `data` DataFrame and assign the result to the `fc` variable.

In [17]:
###GRADED

 
fc = None

# YOUR CODE HERE
fc = data.iloc[:,1]

# ANSWER CHECK
print(fc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

Use the `iloc[]` method to retrieve the second column of the `data` DataFrame and assign the result to the `sc` variable.

In [19]:
### GRADED


sc = None

# YOUR CODE HERE
sc = data.iloc[:,2]

# ANSWER CHECK
print(sc)

0      Boston Celtics
1      Boston Celtics
2      Boston Celtics
3      Boston Celtics
4      Boston Celtics
            ...
451         Utah Jazz
452         Utah Jazz
453         Utah Jazz
454         Utah Jazz
455         Utah Jazz
Name: Team, Length: 456, dtype: object

Use the `iloc[]` method to retrieve the last column of the `data` DataFrame and assign the result to the `lc` variable.

In [21]:
### GRADED


lc = None

# YOUR CODE HERE
lc = data.iloc[:,-1]

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

[Back to top](#Index:) 

## Part three

### Using `split()` to select data

In this part of the assignment, return the required information from a the `data` DataFrame using the `split()` function.

**2 Points each**

In this exercise, use the `split()` function to return the first name of the first player in the `data` DataFrame. Assign the result to the variable `firstname`.

In [23]:
### GRADED



firstname = None

# YOUR CODE HERE
firstname = data.iloc[0]['Name'].split()[0]
    
# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In this exercise, use the `split()` function to return the last name of the first player in the `data` DataFrame. Assign the result to the variable `lastname`.

In [25]:
###GRADED

# Please print the last full name of the first series in the data frame.

lastname = None

# YOUR CODE HERE
lastname = data.iloc[0]['Name'].split()[1]

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley