### Codio Activity 4.2: Complex Joins on Datasets

**Expected Time: 60 Minutes**

**Total Points: 10**

![](images/kiva.png)

This assignment focuses on using pandas `merge` to answer questions using multiple data sources.  Here you will combine data and use many of the earlier `pandas` methods together with the `merge` function to extract insights from our data source.  The data comes from the Kiva loan provider organization and was part of a kaggle Data Science for good contest [here](https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding).

#### Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)

### The Data

Kiva allows users to fund loans to small organizations around the world.  The four datasets contain a subset of the data provided on kaggle and describe information on the individual loan, when it was given, where the borrowers were located, and what the loans were being used for.  Below, the data is loaded into four DataFrames and the first two rows of each displayed.  Note the shared `id` column across all four datasets.

In [2]:
import pandas as pd

In [4]:
crowdsource = pd.read_csv('data/kiva/crowdsource.csv')
crowdsource.head(2)

        id                posted_time                funded_time  lender_count
0   658776  2014-01-17 21:21:10+00:00  2014-02-05 17:57:55+00:00            33
1  1314847  2017-06-07 02:02:41+00:00  2017-06-21 17:10:38+00:00             9

In [6]:
demographics = pd.read_csv('data/kiva/demographics.csv')
demographics.head(2)

        id      country                 region borrower_genders
0   658776  El Salvador      Ciudad El Triunfo             male
1  1314847  Philippines  Bais, Negros Oriental           female

In [8]:
financials = pd.read_csv('data/kiva/financials.csv')
financials.head(2)

        id  funded_amount currency  term_in_months
0   658776         1000.0      USD            20.0
1  1314847          225.0      PHP            13.0

In [10]:
use = pd.read_csv('data/kiva/use.csv')
use.head(2)

,id,activity,sector,use
0,658776,Vehicle,Personal Use,to purchase a motorcycle in order to travel fr...
1,1314847,Pigs,Agriculture,to buy feed and other supplies like vitamins t...

[Back to top](#Index:) 

### Problem 1

#### Kenyan Loan Amounts

**5 Points**


Use the `demographics` and `financials` data to determine the average loan amount for the country `Kenya`.  

Note that the average loan amount in each country can be calculated by computing the mean of the `funded_amount` column.


Save your response as a float to `ans1` below.

In [18]:
### GRADED

ans1 = None

# YOUR CODE HERE
# Merge demographics and financials dataframes on id
merged_df = pd.merge(demographics, financials, on='id')

# Filter rows where the country is Kenya
kenya_df = merged_df[merged_df['country'] == 'Kenya']

# Calculate the average funded amount for Kenya
ans1 = kenya_df['funded_amount'].mean()

# Answer check
print(ans1)
print(type(ans1))

443.4723441615452
<class 'numpy.float64'>

[Back to top](#Index:) 

### Problem 2

### El Salvador Top Sector

**5 Points**

Use the `demographics` and `use` datasets to determine the sector of work that received the most loans in `El Salvador`.  

Note that the  the sector of work in each country can be calculated by using `value_counts()` on the `sector` column.


Assign your result as a string to `ans2` below.

In [111]:
### GRADED

ans2 = None

# YOUR CODE HERE
# Merge demographics and use dataframes on id
merged_df = pd.merge(demographics, use, on='id')
merged_df

# Filter rows where the country is El Salvador
salvador_df = merged_df[merged_df['country'] == 'El Salvador'].value_counts(['sector'], ascending=False)
print(salvador_df)

ans2 = 'Agriculture'

# Answer check
print(ans2)
print(type(ans2))

sector
Agriculture       212
Food              112
Housing            90
Retail             82
Clothing           28
Services           24
Personal Use        9
Arts                8
Manufacturing       8
Transportation      6
Construction        3
Health              2
Education           1
Name: count, dtype: int64
Agriculture
<class 'str'>

### Problem 3

#### Pakistan Loans in Agriculture

**5 Points**


Merge the DataFrames `use` and `demographics` on `id`. Assign your result to `p1`.

Merge the DataFrames `p1` and `financials` on `id`. Assign your result to `a`.

Use `loc` on the `a` DataFrame to select the rows in which `country` is equal to `Pakistan`. Assogn your result to `b`.


Determine the total amount of loans (`funded_amount`) for `Agriculture` in Pakistan.  Assign your results as a float to `ans3` below.

In [65]:
### GRADED

ans3 = None

# YOUR CODE HERE
p1 = pd.merge(demographics, use, on='id')
a = pd.merge(p1, financials, on='id')
b = a.loc[a['country'] == 'Pakistan']
ans3 = b.loc[b['sector'] == 'Agriculture']['funded_amount'].sum()

# Answer check
print(ans3)
print(type(ans3))

30900.0
<class 'numpy.float64'>

[Back to top](#Index:) 

### Problem 4

#### Top Total Loan Sector

**5 Points**

Merge the `financials` and `use` DataFrames on `id`. To this, chain a `groupby()` operation on `sector` and use a double square bracket notation to select the column `funded_amount`.



What sector received the most total dollars in funding?  Assign your response as a string to `ans4` below.

In [99]:
### GRADED

ans4 = None

# YOUR CODE HERE
print(pd.merge(use, financials, on='id').groupby('sector')[['funded_amount']].sum().sort_values(by='funded_amount', ascending=False))
ans4 = 'Agriculture'

# Answer check
print(ans4)
print(type(ans4))

                funded_amount
sector
Agriculture         1971040.0
Food                1658515.0
Retail              1389875.0
Services             649270.0
Clothing             489600.0
Education            458100.0
Housing              319000.0
Personal Use         219925.0
Arts                 169775.0
Transportation       163450.0
Health               112425.0
Construction          90225.0
Manufacturing         64575.0
Wholesale             16425.0
Entertainment          8300.0
Agriculture
<class 'str'>

[Back to top](#Index:) 

### Problem 5

#### Top Loan by Lender Amount

**5 Points**

Merge the DataFrames `financials` and `use` on `id`. Assign your result to `a`.

Merge the DataFrames `a` and `crowdsource` on `id`. Assign your result to `b`.

In the `b` DataFrame, create a new column `ratio`. To this column assign the ratio of the columns `funded_amount` and `lender_count` of the `b` DataFrame.


Determine which loan sector has the highest ratio of currency to lender amount. Assign the sector with the highest ratio as a string to `ans5` below.

In [129]:
### GRADED

ans5 = None

# YOUR CODE HERE
a = pd.merge(use, financials, on='id')
b = pd.merge(a, crowdsource, on='id')
b['ratio'] = b['funded_amount'] / b['lender_count']

ans5 = b.groupby('sector')['ratio'].max().idxmax()

# Answer check
print(ans5)
print(type(ans5))

Retail
<class 'str'>